<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Python - Flask</title>
    <!-- <link rel="stylesheet" href="../static/styles/styles.css" /> -->
    <link
      rel="stylesheet"
      href="{{url_for('static', filename = 'styles/styles.css')}}"
    />
  </head>
  <body>
    <h1>Hello World !!!</h1>
    <img
      src="{{url_for('static', filename = 'flask.png')}}"
      alt="Flask"
      height="200px"
    />
    <!-- <img src="../static/flask.png" alt="Flask" height="200px" /> -->
  </body>
</html>
